
@import "vars";
@import "font";
@import "global";
// **************header*************
@import "loyaut/header";

/**********************************/ 
.logo {
    position: relative;
    display: flex;
    &::after {
        @extend %trait ;
    }
    &::before {
        content: "services";
        position: absolute;
        right: -85px;
        font-size: 20px;
        line-height: 24px;
        color: #fff;
    }
}

.active-link {
    color: $color-accent;
    border-bottom: 2px solid $color-accent;
}

// ************SECTION-SERVICES**************
.section {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    overflow-x: hidden;
    border-radius: 0px 0px 12px 12px;
    padding: 132px 0 60px ;
}

.services {
    font-family: "Montserrat-Bold";
    &__container {
        padding: 0 30px;
    }
    &__link {
        padding-right: 6px;
    }
    &__title {
        margin: 10px 0 30px 0;
    }
    .services-goods {
        .goods__item{
            &:not(:last-child) {
                margin-bottom: 30px;
            }
            .goods__title {
                color: $color-services;
                font-size: 22px;
                line-height: 27px;
                margin: 30px 0 15px 0;
                display: block;
                transition: 0.7s ;
                &:hover {
                    color: $color-accent;
                }
            }
            .goods__text {
                color: #fff;
                font-size: 16px;
                line-height: 26px;
                font-family: "Montserrat-Regular";
            }
        }
    }
}

@media (min-width: 768px) {
    .logo {
        &::before {
            right: -157px;
            font-size: 36px;
            line-height: 44px;
        }
    }
    .section {
        padding: 280px 0 60px ;
    }
    .global__title {
        font-size: 38px;
        line-height: 46px;
    }
    .services {
        margin-top: 60px;
        &__container {
            padding: 0 60px;
        }
        &__title {
            margin: 0 0 60px 0;
        }
        .services-goods {
            display: flex;
            flex-wrap: wrap;
            .goods__item{
                width: 45%;
                &:nth-child(3),
                &:nth-child(4) {
                    margin: 60px 0;
                }
                &:nth-child(odd) {
                    margin-right:60px;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .section {
        padding: 176px 0 60px ;
    }
    .services {
        margin-top: 60px;
        .services-goods {
            .goods__item{
                width: 28.3%;
                &:not(:last-child) {
                    margin-bottom: 0px;
                }
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(4),
                &:nth-child(3),
                &:nth-child(5) {
                    margin: 0;
                }
                &:nth-child(odd) {
                    margin-right:0px; 
                }
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(4),
                &:nth-child(5) {
                    margin-right: 60px;
                }
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3){
                    margin-bottom: 60px;
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    .services {
        .services-goods {
            .goods__item{
                width: 30.3%;
            }
        }
    }
}

@media (min-width: 1920px) {
    .services {
        &__container {
            padding: 0;
            width: 1600px;
            margin: 0 auto;
        }
    }
}

// **********************ASSOCIATE*************************
.associate {
    &__container {
        padding-top: 60px;
    }
    &__title {
        color: #323264;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: "Montserrat-Bold";
        text-align: center;
        margin-bottom: 30px;
    }
    &__block {
        position: relative;
        display: flex;
        height: 120px;
        background: #1C4280;
        &-wannabiz { 
            background: #143646;
        }
        &-tapgerine {
            background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
        }
        &-3dlook {
            background: #9E4DC3;
        }
        &-orangear {
            background: #FD9339;
        }
        &-adtelligent {
            background: #E2E2E4;
        }
        &-clickky {
            display: none;
            background: #C71C36;
        }
        &-ecoleasing {
            display: none;
            background: #DCF3F9;
        }
        &-infratek {
            display: none;
            background: #EAEAEA;
        }
        &-citypark {
            display: none;
            background: #282240;
        }
        &-art-print {
            display: none;
            background: #1D4568;
        }
        &-ultimade {
            display: none;
            background: #000000;
        }
    }
    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (min-width: 768px) {
    .associate {
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
        }
        &__block {
            width: 33.333%;
            &-clickky {
                display: block;
            }
            &-ecoleasing {
                display: block;
            }
            &-infratek {
                display: block;
            }
            &-citypark {
                display: block;
            }
            &-art-print {
                display: block;
            }
            &-ultimade {
                display: block;
            }
        }
    }
}

@media (min-width: 1024px) {
    .associate {
        &__block {
            width: 25%;
        }
    }
}

@media (min-width: 1920px) {
    .associate {
        &__container {
            width: 1600px;
            margin: 0 auto;
        }
        &__block {
            width: 25%;
        }
    }
}

// *******************publication*******************
.publication {
    padding-top: 30px;
    font-family: "Montserrat-Bold";
    background: $color-bacground;
    &__container {
        padding: 0 30px;
    }
    &__link {
        margin-bottom:5px;
    }
    &__date {
        padding: 15px 0;
        border-bottom: 4px solid $color-separator ;
        margin-bottom: 15px;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1px;
        color: $color-tipycal;
    }
    &__info {
        font-size: 14px;
        line-height: 22px;
        font-family: "Montserrat-Regular";
    }
    &__item {
        background: #FFFFFF;
        border-radius: 8px ;
        margin-top: 30px;
        &-link {
            color: $color-services;
        }
        &-wrapper {
            padding: 30px;
        }
    }
    &__image {
        width: 100%;
        height: 190px;
        &-picture {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px 8px 0 0;
        }
    }
}

@media (min-width: 768px) {
    .publication {
        &__container {
            padding: 0 60px;
        }
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
        }
        &__item {
            &:first-child {
                margin-right: 30px;
            }
            &:last-child {
                width: 100%;
            }
            width: 47.6%;
            margin-top: 30px;
        }
        &__image {
            height: 200px;
        }
    }
}

@media (min-width: 1024px) {
    .publication {
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__item {
            &:last-child {
                width: 31.1%;
                margin-left: 30px;
            }
            width: 31.1%;
        }
    }
}

@media (min-width: 1440px) {
    .publication {
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__item {
            &:last-child {
                width: 31.1%;
                margin-left: 30px;
            }
            width: 31.1%;
        }
    }
}

@media (min-width: 1920px) {
    .publication {
        &__container {
            width: 1600px;
            margin: 0 auto;
            padding: 0;
        } 
    }
}

// **************FOOTER*****************

@import "loyaut/footer";
.footer  {
    &__place {
        margin-bottom: 21px;
        border-top: 0;
    }
    &__address {
        padding: 0;
    }
}