@import "../vars";
@import "../font";

.footer {
    background: $color-bacground;
    font-family: "Montserrat-Bold";
    &__container {
        text-align: center;
        padding: 30px ;
    }
    &__place {
        margin-bottom: 21px;
        border-top: 2px solid #E6E6F0;
    }
    &__address {
        font-family: "Montserrat-Regular";
        padding: 30px 0 10px 0;
    }
    &__map {
        text-transform: uppercase;
        color:  $color-services;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1px;
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    &__icon {
        width: 38px;
        margin: 0  auto;
    }
    &__phone {
        color: #46466E;
        margin: 10px 0 ;
    }
    &__email {
        color: $color-services;
    }
    &__desc {
        margin-top: 30px;
        color: $color-tipycal;
        font-family: "Montserrat-Regular";
    }
}

@media (min-width:768px) {
    .footer {
        &__container {
            position: relative;
            text-align: left;
            padding:30px 60px 40px 60px;
        }
        &__place {
            display: flex;
            align-items: center;
            padding-top: 30px;
        }
        &__address {
            padding: 0;
            display: flex;
            align-items: center;
            &::after {
                @include dots(0 10px,#b3b3b3);
            }
        }
        &__contacts {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        &__icon {
            width: 38px;
            margin: 0 ;
        }
        &__map {
            transition: all 0.6s;
            &:hover {
                color: $color-accent;
            }
        }
        &__email {
            transition: all 0.6s;
            &:hover {
                color: $color-accent;
            }
        }
        &__phone {
            margin:0 ;
            display: flex;
            align-items: center;
            &::after {
                @include dots(0 10px,#b3b3b3);
            }
            &::before {
                @include dots(0 10px,#b3b3b3);
            }
        }
        &__desc {
            margin-top: 0;
            position: absolute;
            top: 61px;
            right: 60px;
        }
    }
}

@media (min-width: 1920px) {
    .footer {
        &__container {
            width: 1600px;
            margin: 0 auto;
            padding: 0;
        }
    }
}